/* compact [
	../plugins/auto/skeleditor/v3.1.0/codemirror/lib/codemirror.css
	../plugins/auto/skeleditor/v3.1.0/codemirror/theme/solarized.css
	../plugins/auto/skeleditor/v3.1.0/codemirror/addon/display/fullscreen.css
	../plugins/auto/skeleditor/v3.1.0/codemirror/addon/fold/foldgutter.css
	../plugins/auto/skeleditor/v3.1.0/codemirror/addon/dialog/dialog.css
	../plugins/auto/skeleditor/v3.1.0/css/skeleditor.css
] 78.3% */

/* ../plugins/auto/skeleditor/v3.1.0/codemirror/lib/codemirror.css */
.CodeMirror{font-family:monospace;height:300px;color:#000;direction:ltr}
.CodeMirror-lines{padding:4px 0}
.CodeMirror pre{padding:0 4px}
.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler{background-color:#FFF}
.CodeMirror-gutters{border-right:1px solid #ddd;background-color:#f7f7f7;white-space:nowrap}
.CodeMirror-linenumber{padding:0 3px 0 5px;min-width:20px;text-align:right;color:#999;white-space:nowrap}
.CodeMirror-guttermarker{color:#000}
.CodeMirror-guttermarker-subtle{color:#999}
.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}
.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}
.cm-fat-cursor .CodeMirror-cursor{width:auto;border:0!important;background:#7e7}
.cm-fat-cursor div.CodeMirror-cursors{z-index:1}
.cm-fat-cursor-mark{background-color:rgba(20,255,20,0.5);-webkit-animation:blink 1.06s steps(1) infinite;-moz-animation:blink 1.06s steps(1) infinite;animation:blink 1.06s steps(1) infinite}
.cm-animate-fat-cursor{width:auto;border:0;-webkit-animation:blink 1.06s steps(1) infinite;-moz-animation:blink 1.06s steps(1) infinite;animation:blink 1.06s steps(1) infinite;background-color:#7e7}
@-moz-keyframes blink{0%{}
50%{background-color:transparent}}
@-webkit-keyframes blink{0%{}
50%{background-color:transparent}}
@keyframes blink{0%{}
50%{background-color:transparent}}
.cm-tab{display:inline-block;text-decoration:inherit}
.CodeMirror-rulers{position:absolute;left:0;right:0;top:-50px;bottom:-20px;overflow:hidden}
.CodeMirror-ruler{border-left:1px solid #ccc;top:0;bottom:0;position:absolute}
.cm-s-default .cm-header{color:blue}
.cm-s-default .cm-quote{color:#090}
.cm-negative{color:#d44}
.cm-positive{color:#292}
.cm-header,.cm-strong{font-weight:700}
.cm-em{font-style:italic}
.cm-link{text-decoration:underline}
.cm-strikethrough{text-decoration:line-through}
.cm-s-default .cm-keyword{color:#708}
.cm-s-default .cm-atom{color:#219}
.cm-s-default .cm-number{color:#164}
.cm-s-default .cm-def{color:#00f}
.cm-s-default .cm-variable-2{color:#05a}
.cm-s-default .cm-variable-3,.cm-s-default .cm-type{color:#085}
.cm-s-default .cm-comment{color:#a50}
.cm-s-default .cm-string{color:#a11}
.cm-s-default .cm-string-2{color:#f50}
.cm-s-default .cm-meta{color:#555}
.cm-s-default .cm-qualifier{color:#555}
.cm-s-default .cm-builtin{color:#30a}
.cm-s-default .cm-bracket{color:#997}
.cm-s-default .cm-tag{color:#170}
.cm-s-default .cm-attribute{color:#00c}
.cm-s-default .cm-hr{color:#999}
.cm-s-default .cm-link{color:#00c}
.cm-s-default .cm-error{color:red}
.cm-invalidchar{color:red}
.CodeMirror-composing{border-bottom:2px solid}
div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}
div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}
.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}
.CodeMirror-activeline-background{background:#e8f2ff}
.CodeMirror{position:relative;overflow:hidden;background:#FFF}
.CodeMirror-scroll{overflow:scroll!important;margin-bottom:-30px;margin-right:-30px;padding-bottom:30px;height:100%;outline:none;position:relative}
.CodeMirror-sizer{position:relative;border-right:30px solid transparent}
.CodeMirror-vscrollbar,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler{position:absolute;z-index:6;display:none}
.CodeMirror-vscrollbar{right:0;top:0;overflow-x:hidden;overflow-y:scroll}
.CodeMirror-hscrollbar{bottom:0;left:0;overflow-y:hidden;overflow-x:scroll}
.CodeMirror-scrollbar-filler{right:0;bottom:0}
.CodeMirror-gutter-filler{left:0;bottom:0}
.CodeMirror-gutters{position:absolute;left:0;top:0;min-height:100%;z-index:3}
.CodeMirror-gutter{white-space:normal;height:100%;display:inline-block;vertical-align:top;margin-bottom:-30px}
.CodeMirror-gutter-wrapper{position:absolute;z-index:4;background:none!important;border:none!important}
.CodeMirror-gutter-background{position:absolute;top:0;bottom:0;z-index:4}
.CodeMirror-gutter-elt{position:absolute;cursor:default;z-index:4}
.CodeMirror-gutter-wrapper::selection{background-color:transparent}
.CodeMirror-gutter-wrapper::-moz-selection{background-color:transparent}
.CodeMirror-lines{cursor:text;min-height:1px}
.CodeMirror pre{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border-width:0;background:transparent;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;line-height:inherit;color:inherit;z-index:2;position:relative;overflow:visible;-webkit-tap-highlight-color:transparent;-webkit-font-variant-ligatures:contextual;font-variant-ligatures:contextual}
.CodeMirror-wrap pre{word-wrap:break-word;white-space:pre-wrap;word-break:normal}
.CodeMirror-linebackground{position:absolute;left:0;right:0;top:0;bottom:0;z-index:0}
.CodeMirror-linewidget{position:relative;z-index:2;padding:0.1px}
.CodeMirror-rtl pre{direction:rtl}
.CodeMirror-code{outline:none}
.CodeMirror-scroll,.CodeMirror-sizer,.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber{-moz-box-sizing:content-box;box-sizing:content-box}
.CodeMirror-measure{position:absolute;width:100%;height:0;overflow:hidden;visibility:hidden}
.CodeMirror-cursor{position:absolute;pointer-events:none}
.CodeMirror-measure pre{position:static}
div.CodeMirror-cursors{visibility:hidden;position:relative;z-index:3}
div.CodeMirror-dragcursors{visibility:visible}
.CodeMirror-focused div.CodeMirror-cursors{visibility:visible}
.CodeMirror-selected{background:#d9d9d9}
.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}
.CodeMirror-crosshair{cursor:crosshair}
.CodeMirror-line::selection,.CodeMirror-line > span::selection,.CodeMirror-line > span > span::selection{background:#d7d4f0}
.CodeMirror-line::-moz-selection,.CodeMirror-line > span::-moz-selection,.CodeMirror-line > span > span::-moz-selection{background:#d7d4f0}
.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}
.cm-force-border{padding-right:.1px}
@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}
.cm-tab-wrap-hack:after{content:''}
span.CodeMirror-selectedtext{background:none}

/* ../plugins/auto/skeleditor/v3.1.0/codemirror/theme/solarized.css */
.solarized.base03{color:#002b36}
.solarized.base02{color:#073642}
.solarized.base01{color:#586e75}
.solarized.base00{color:#657b83}
.solarized.base0{color:#839496}
.solarized.base1{color:#93a1a1}
.solarized.base2{color:#eee8d5}
.solarized.base3{color:#fdf6e3}
.solarized.solar-yellow{color:#b58900}
.solarized.solar-orange{color:#cb4b16}
.solarized.solar-red{color:#dc322f}
.solarized.solar-magenta{color:#d33682}
.solarized.solar-violet{color:#6c71c4}
.solarized.solar-blue{color:#268bd2}
.solarized.solar-cyan{color:#2aa198}
.solarized.solar-green{color:#859900}
.cm-s-solarized{line-height:1.45em;color-profile:sRGB;rendering-intent:auto}
.cm-s-solarized.cm-s-dark{color:#839496;background-color:#002b36;text-shadow:#002b36 0 1px}
.cm-s-solarized.cm-s-light{background-color:#fdf6e3;color:#657b83;text-shadow:#eee8d5 0 1px}
.cm-s-solarized .CodeMirror-widget{text-shadow:none}
.cm-s-solarized .cm-header{color:#586e75}
.cm-s-solarized .cm-quote{color:#93a1a1}
.cm-s-solarized .cm-keyword{color:#cb4b16}
.cm-s-solarized .cm-atom{color:#d33682}
.cm-s-solarized .cm-number{color:#d33682}
.cm-s-solarized .cm-def{color:#2aa198}
.cm-s-solarized .cm-variable{color:#839496}
.cm-s-solarized .cm-variable-2{color:#b58900}
.cm-s-solarized .cm-variable-3,.cm-s-solarized .cm-type{color:#6c71c4}
.cm-s-solarized .cm-property{color:#2aa198}
.cm-s-solarized .cm-operator{color:#6c71c4}
.cm-s-solarized .cm-comment{color:#586e75;font-style:italic}
.cm-s-solarized .cm-string{color:#859900}
.cm-s-solarized .cm-string-2{color:#b58900}
.cm-s-solarized .cm-meta{color:#859900}
.cm-s-solarized .cm-qualifier{color:#b58900}
.cm-s-solarized .cm-builtin{color:#d33682}
.cm-s-solarized .cm-bracket{color:#cb4b16}
.cm-s-solarized .CodeMirror-matchingbracket{color:#859900}
.cm-s-solarized .CodeMirror-nonmatchingbracket{color:#dc322f}
.cm-s-solarized .cm-tag{color:#93a1a1}
.cm-s-solarized .cm-attribute{color:#2aa198}
.cm-s-solarized .cm-hr{color:transparent;border-top:1px solid #586e75;display:block}
.cm-s-solarized .cm-link{color:#93a1a1;cursor:pointer}
.cm-s-solarized .cm-special{color:#6c71c4}
.cm-s-solarized .cm-em{color:#999;text-decoration:underline;text-decoration-style:dotted}
.cm-s-solarized .cm-error,.cm-s-solarized .cm-invalidchar{color:#586e75;border-bottom:1px dotted #dc322f}
.cm-s-solarized.cm-s-dark div.CodeMirror-selected{background:#073642}
.cm-s-solarized.cm-s-dark.CodeMirror::selection{background:rgba(7,54,66,0.99)}
.cm-s-solarized.cm-s-dark .CodeMirror-line::-moz-selection,.cm-s-dark .CodeMirror-line > span::-moz-selection,.cm-s-dark .CodeMirror-line > span > span::-moz-selection{background:rgba(7,54,66,0.99)}
.cm-s-solarized.cm-s-light div.CodeMirror-selected{background:#eee8d5}
.cm-s-solarized.cm-s-light .CodeMirror-line::selection,.cm-s-light .CodeMirror-line > span::selection,.cm-s-light .CodeMirror-line > span > span::selection{background:#eee8d5}
.cm-s-solarized.cm-s-light .CodeMirror-line::-moz-selection,.cm-s-ligh .CodeMirror-line > span::-moz-selection,.cm-s-ligh .CodeMirror-line > span > span::-moz-selection{background:#eee8d5}
.cm-s-solarized.CodeMirror{-moz-box-shadow:inset 7px 0 12px -6px #000;-webkit-box-shadow:inset 7px 0 12px -6px #000;box-shadow:inset 7px 0 12px -6px #000}
.cm-s-solarized .CodeMirror-gutters{border-right:0}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters{background-color:#073642}
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber{color:#586e75;text-shadow:#021014 0 -1px}
.cm-s-solarized.cm-s-light .CodeMirror-gutters{background-color:#eee8d5}
.cm-s-solarized.cm-s-light .CodeMirror-linenumber{color:#839496}
.cm-s-solarized .CodeMirror-linenumber{padding:0 5px}
.cm-s-solarized .CodeMirror-guttermarker-subtle{color:#586e75}
.cm-s-solarized.cm-s-dark .CodeMirror-guttermarker{color:#ddd}
.cm-s-solarized.cm-s-light .CodeMirror-guttermarker{color:#cb4b16}
.cm-s-solarized .CodeMirror-gutter .CodeMirror-gutter-text{color:#586e75}
.cm-s-solarized .CodeMirror-cursor{border-left:1px solid #819090}
.cm-s-solarized.cm-s-light.cm-fat-cursor .CodeMirror-cursor{background:#7e7}
.cm-s-solarized.cm-s-light .cm-animate-fat-cursor{background-color:#7e7}
.cm-s-solarized.cm-s-dark.cm-fat-cursor .CodeMirror-cursor{background:#586e75}
.cm-s-solarized.cm-s-dark .cm-animate-fat-cursor{background-color:#586e75}
.cm-s-solarized.cm-s-dark .CodeMirror-activeline-background{background:rgba(255,255,255,0.06)}
.cm-s-solarized.cm-s-light .CodeMirror-activeline-background{background:rgba(0,0,0,0.06)}

/* ../plugins/auto/skeleditor/v3.1.0/codemirror/addon/display/fullscreen.css */
.CodeMirror-fullscreen{position:fixed;top:0;left:0;right:0;bottom:0;height:auto;z-index:9}

/* ../plugins/auto/skeleditor/v3.1.0/codemirror/addon/fold/foldgutter.css */
.CodeMirror-foldmarker{color:blue;text-shadow:#b9f 1px 1px 2px,#b9f -1px -1px 2px,#b9f 1px -1px 2px,#b9f -1px 1px 2px;font-family:arial;line-height:.3;cursor:pointer}
.CodeMirror-foldgutter{width:.7em}
.CodeMirror-foldgutter-open,.CodeMirror-foldgutter-folded{cursor:pointer}
.CodeMirror-foldgutter-open:after{content:"\25BE"}
.CodeMirror-foldgutter-folded:after{content:"\25B8"}

/* ../plugins/auto/skeleditor/v3.1.0/codemirror/addon/dialog/dialog.css */
.CodeMirror-dialog{position:absolute;left:0;right:0;background:inherit;z-index:15;padding:.1em .8em;overflow:hidden;color:inherit}
.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}
.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}
.CodeMirror-dialog input{border:none;outline:none;background:transparent;width:20em;color:inherit;font-family:monospace}
.CodeMirror-dialog button{font-size:70%}

/* ../plugins/auto/skeleditor/v3.1.0/css/skeleditor.css */
.codewrap{border:1px solid #333;background:#fff;font-size:1rem;clear:both;position:relative}
.CodeMirror pre{font-size:1rem}
.CodeMirror-fullscreen{z-index:1200}
.cm-searching{background:#FF0;border-bottom:1px solid #000}
.cm-searching:focus,.cm-searching:active,{border-bottom:1px solid red}

