/* #PRODUIRE{fond=saisies.css}
   md5:3fbb09b86fd0e809762744508c9aa2f7 */

/* Dans l'espace privé, afficher les labels des vues de Saisies */
#wysiwyg .afficher .label{ display:block; }

.fieldset.pliable > fieldset > .legend{
	cursor:pointer;
}

.fieldset.pliable > fieldset > .legend span{
	padding-left:15px;
	background:transparent url('http://localhost/SPIP_DEUX/prive/images/deplierbas.gif') left center no-repeat;
}

.fieldset.plie > fieldset > .legend span{
	background-image:url('http://localhost/SPIP_DEUX/prive/images/deplierhaut.gif');
}
/**/
.editer.saisie_date_jour_mois_annee .choix {
	background-color:transparent;
	float:left;
	padding:0;
	border:0;
}
.saisie_date_jour_mois_annee .choix+.choix {margin-left:1em;}
.saisie_date_jour_mois_annee .choix label{display:block; width:auto;}
.saisie_date_jour_mois_annee .choix .text{width:auto;}

/**/


/**/
.formulaire_spip li.selecteur_item > label {
	float:none;
}

.formulaire_spip li.selecteur_item div.choix label {
	float:none;
	display:inline;
}

/* avec crayons + formulaire de saisies, éviter un padding à gauche du label */
.formulaire_crayon .editer-groupe .editer { padding-left:10px; }

/* les étapes */
.formulaire_spip .etapes__items {
	list-style: none;
}
.formulaire_spip .etapes__item {
	display: inline-block;
}
.formulaire_spip .etapes__item:not(:first-child):before {
	content: ' → ';
}
