/*
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\spip.admin.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\bootstrap-start.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_functions.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_mixins.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_spip.variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_mixins.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\vendor\_rfs.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_deprecate.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_breakpoints.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_hover.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_image.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_badge.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_resize.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_screen-reader.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_size.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_reset-text.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-emphasis.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-hide.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-truncate.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_visibility.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_alert.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_buttons.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_caret.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_pagination.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_lists.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_list-group.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_nav-divider.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_forms.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_table-row.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_background-variant.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_border-radius.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_box-shadow.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_gradients.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_transition.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_clearfix.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_grid-framework.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_grid.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_float.scss
*/
/* Variables et declarations specifiques, en complement de _variables.scss */
html {
  /* Style pour le mode debug */
}
html #spip-debug-toggle {
  top: 6px;
  right: 40px;
}
html #spip-debug-header {
  background: #f0e144;
  position: fixed;
  top: 30px;
  height: 30px;
  width: 100px;
  left: auto;
  right: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25;
}
html #spip-debug, html #debug-profile {
  background: #dee2e6;
  position: fixed;
  top: 60px;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  overflow: auto;
}
html #spip-boucles {
  margin: 0;
  border-bottom: 5px solid #212529 !important;
  color: #2f6473;
  background-color: #def2f8;
  border-color: #d1edf6;
  color: inherit;
}
html #spip-boucles a {
  color: #f48719;
}
html #spip-boucles a:hover, html #spip-boucles a:focus, html #spip-boucles a:active {
  color: #b86109;
  text-decoration: underline;
}
html #spip-boucles hr {
  border-top-color: #bce5f1;
}
html #spip-boucles .alert-link {
  color: #20454f;
}
html #spip-boucles fieldset {
  font-family: inherit;
  font-size: 1em;
  padding: 0;
  margin-bottom: 2em;
}
html #spip-boucles fieldset legend {
  background: #e9ecef;
  padding: 0.25em 30px;
  color: #212529;
  font-family: inherit;
  font-size: 1em;
  border: 0;
  margin: 0;
}
html #spip-boucles fieldset legend a {
  float: right;
  margin-left: 10px;
}
html #spip-boucles fieldset legend + span {
  font-size: 0.8em;
  margin-right: 30px;
}
html #spip-boucles fieldset legend + span + br {
  display: none;
}
html #spip-boucles fieldset .spip-env {
  margin: 30px;
}
html #spip-boucles fieldset .spip-env fieldset {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 87.5%;
  background: #fff;
  border: 0;
  margin: 0;
  width: 100%;
}
html #spip-boucles fieldset .spip-env fieldset legend {
  font-family: inherit;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  color: inherit;
  float: left;
  margin-top: -1em;
}
html #spip-boucles fieldset .spip-env fieldset table {
  font-family: inherit;
  font-size: inherit;
  display: block;
  font-size: 0.85em;
}
html #spip-boucles fieldset .spip-env fieldset table tbody, html #spip-boucles fieldset .spip-env fieldset table tr, html #spip-boucles fieldset .spip-env fieldset table td {
  font-family: inherit;
  font-size: inherit;
  display: flex;
}
html #spip-boucles fieldset .spip-env fieldset table tbody {
  flex-wrap: wrap;
}
html #spip-boucles fieldset .spip-env fieldset table tbody tr:nth-child(2n +1) td {
  background: #f8f9fa;
}
html #spip-boucles fieldset .spip-env fieldset table tbody tr:nth-child(2n) td {
  background: #dee2e6;
}
html #spip-boucles fieldset .spip-env + table {
  font-family: inherit;
  font-size: 0.85em;
  line-height: 1.25em;
}
html #spip-boucles fieldset .spip-env + table tr td:nth-child(6), html #spip-boucles fieldset .spip-env + table tr td:nth-child(7), html #spip-boucles fieldset .spip-env + table tr td:nth-child(8) {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 87.5%;
}
html #debug_boucle a {
  color: #f48719;
}
html #debug_boucle a:hover, html #debug_boucle a:focus, html #debug_boucle a:active {
  color: #b86109;
  text-decoration: underline;
}
html #debug_boucle fieldset {
  background: #def2f8;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 0.8em;
  line-height: 1.25;
  padding: 0;
  margin-bottom: 2em;
  border: 0;
}
html #debug_boucle fieldset legend {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 1.2em;
  color: inherit;
  margin: 0;
  border: 0;
  padding: 0.25em 30px;
  background: #ced4da;
}
html #debug_boucle fieldset legend + div code {
  background: #c9eaf4;
}
html #debug_boucle fieldset h3 {
  font-family: inherit;
  font-size: inherit;
  margin: 10px 0;
  padding: 5px;
  background: #f8f9fa;
}
html #debug-profile {
  display: block;
  opacity: 1;
}
html #debug-profile caption {
  display: block;
  width: 100%;
  font-size: 1em;
}
html #debug-profile > tbody {
  display: table;
  width: 100%;
  font-size: 0.9em;
}
html #debug-profile table.explain {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
}
html #debug-profile table.explain caption {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  display: block;
  width: 100%;
}
html #debug-profile table.explain tbody {
  display: table;
  width: 100%;
}
