/*
#@plugins/auto/bootstrap4/v4.4.1.7/bootstrap2spip/css/spip.comment.scss
*/
/* Habillage des forums
 ---------------------------------------------- */
/* Variables et declarations specifiques, en complement de _variables.scss */
/* * Habillage des forums */
/* comments list */
.comments-items {
  list-style: none;
  margin-left: 0;
}
.comments-items .comments-items {
  margin-left: 90px;
}
.comments-items .comments-items .comments-items .comments-items .comments-items {
  margin-left: 30px;
}
.comment {
  overflow: hidden;
  position: relative;
  padding-bottom: 1.5rem;
}
.comment-meta {
  min-height: 20px;
  padding: 19px;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 0;
  margin-bottom: 0.75rem;
}
.comment-meta {
  padding-left: 90px;
  position: relative;
}
.comment-meta .spip_logo {
  position: absolute;
  left: 15px;
}
.comment-meta .permalink {
  position: absolute;
  right: 0;
  font-size: 2rem;
  color: rgba(173, 181, 189, 0.25);
}
.comment-meta .forum-titre {
  display: block;
}
.comment-content {
  background: transparent;
  padding-left: 90px;
  max-height: 60em;
  overflow: auto;
  overflow-x: none;
}
.comment-reply {
  clear: both;
  text-align: right;
  margin-bottom: 0;
  margin-top: -0.75rem;
  visibility: hidden;
}
.comment:hover .comment-reply {
  visibility: visible;
  position: relative;
}
/* avec plugin comments */
.comment-item:hover > .comment-reply {
  visibility: visible;
  position: relative;
}
/* en thread */
.comments-thread .comment-item {
  margin-bottom: 1.5rem;
}
.comments-thread .comment-item .comment-item {
  margin-bottom: 0;
}
.comments-thread .permalink.in-reply-to {
  bottom: 0;
}
/* avec plugin comments */
/* en list avec plugin comments */
.comment-meta .item {
  display: block;
}
.boutons.modererforum {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.comment:hover .boutons.modererforum {
  display: block;
}
