/*
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\spip.comment.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\bootstrap-start.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_functions.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_mixins.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_spip.variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_mixins.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\vendor\_rfs.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_deprecate.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_breakpoints.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_hover.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_image.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_badge.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_resize.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_screen-reader.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_size.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_reset-text.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-emphasis.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-hide.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-truncate.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_visibility.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_alert.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_buttons.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_caret.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_pagination.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_lists.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_list-group.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_nav-divider.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_forms.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_table-row.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_background-variant.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_border-radius.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_box-shadow.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_gradients.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_transition.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_clearfix.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_grid-framework.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_grid.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_float.scss
*/
/* Habillage des forums
 ---------------------------------------------- */
/* Variables et declarations specifiques, en complement de _variables.scss */
/* * Habillage des forums */
/* comments list */
.comments-items {
  list-style: none;
  margin-left: 0;
}
.comments-items .comments-items {
  margin-left: 90px;
}
.comments-items .comments-items .comments-items .comments-items .comments-items {
  margin-left: 30px;
}
.comment {
  overflow: hidden;
  position: relative;
  padding-bottom: 1.5rem;
}
.comment-meta {
  min-height: 20px;
  padding: 19px;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 0;
  margin-bottom: 0.75rem;
}
.comment-meta {
  padding-left: 90px;
  position: relative;
}
.comment-meta .spip_logo {
  position: absolute;
  left: 15px;
}
.comment-meta .permalink {
  position: absolute;
  right: 0;
  font-size: 2rem;
  color: rgba(173, 181, 189, 0.25);
}
.comment-meta .forum-titre {
  display: block;
}
.comment-content {
  background: transparent;
  padding-left: 90px;
  max-height: 60em;
  overflow: auto;
  overflow-x: none;
}
.comment-reply {
  clear: both;
  text-align: right;
  margin-bottom: 0;
  margin-top: -0.75rem;
  visibility: hidden;
}
.comment:hover .comment-reply {
  visibility: visible;
  position: relative;
}
/* avec plugin comments */
.comment-item:hover > .comment-reply {
  visibility: visible;
  position: relative;
}
/* en thread */
.comments-thread .comment-item {
  margin-bottom: 1.5rem;
}
.comments-thread .comment-item .comment-item {
  margin-bottom: 0;
}
.comments-thread .permalink.in-reply-to {
  bottom: 0;
}
/* avec plugin comments */
/* en list avec plugin comments */
.comment-meta .item {
  display: block;
}
.boutons.modererforum {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.comment:hover .boutons.modererforum {
  display: block;
}
