/*
#@C:\laragon\www\SPIP_DEUX\plugins\auto\spipr_dist\v2.2.6\css\spipr_dist.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\bootstrap-start.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_functions.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_mixins.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap2spip\css\_spip.variables.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\_mixins.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\vendor\_rfs.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_deprecate.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_breakpoints.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_hover.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_image.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_badge.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_resize.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_screen-reader.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_size.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_reset-text.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-emphasis.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-hide.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_text-truncate.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_visibility.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_alert.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_buttons.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_caret.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_pagination.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_lists.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_list-group.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_nav-divider.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_forms.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_table-row.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_background-variant.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_border-radius.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_box-shadow.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_gradients.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_transition.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_clearfix.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_grid-framework.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_grid.scss
#@C:\laragon\www\SPIP_DEUX\plugins\auto\bootstrap4\v4.4.1.7\bootstrap\css\mixins\_float.scss
*/
/* Variables et declarations specifiques, en complement de _variables.scss */
.header {
  position: relative;
  padding-top: 0.625rem;
}
.header .accueil a {
  color: inherit;
}
.header .spip_logo {
  float: left;
  margin: 0.625rem 1rem;
  margin-left: 0;
  margin-top: 0;
}
#logo_site_spip {
  line-height: 1em;
}
#slogan_site_spip {
  display: block;
}
.header .formulaire_menu_lang {
  width: 100%;
}
.header .formulaire_menu_lang select {
  width: 100%;
}
.jumbotron {
  padding: 1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem;
  }
}
.jumbotron .postmeta {
  clear: both;
}
.formulaire_recherche, .secondary .formulaire_recherche {
  padding-right: 70px;
}
/* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {
  width: 100%;
}
.formulaire_recherche form input.search {
  width: 100%;
}
.footer {
  margin-top: 6rem;
  padding-top: 3rem;
  border-top: 2px solid;
  padding-bottom: 3rem;
  margin-bottom: 0;
  text-align: left;
  position: relative;
}
.footer::after {
  display: block;
  clear: both;
  content: "";
}
.footer .colophon {
  padding-right: 100px;
}
.footer .generator {
  position: absolute;
  top: 3rem;
  right: 0;
  max-width: 100px;
}
.footer .generator a {
  color: #E8246F;
  transition: color 0.2s;
}
.footer .generator a:hover, .footer .generator a:focus {
  color: #662F89;
  background-color: transparent;
}
.footer .generator svg {
  width: 60px;
}
.cartouche {
  margin-bottom: 1.5em;
}
.content.primary {
  min-height: 320px;
}
.content .postmeta .tags .inline {
  display: inline;
}
.page_sommaire .breadcrumb {
  display: none;
}
#nav {
  margin-bottom: 1.5rem;
}
#nav .navbar-inner {
  width: 100%;
}
