@import "bootstrap/css/_buttons";

// for simple .btn extension : copy of native .btn to avoid an expensive @extend .btn
%btn-base {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

/* boutons admin forum */
.boutons.modererforum .submit {
  @extend %btn-base;
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  font-size: 0.7rem;
  line-height: 1.2;
}

.boutons.modererforum .poubelle .submit {
  @include button-variant(theme-color("danger"), theme-color("danger"));
}
.boutons.modererforum .spam .submit {
  @include button-variant(theme-color("dark"), theme-color("dark"));
}

/* boutons d'admin */
body .spip-admin-bloc, body .spip-admin-float {z-index: $zindex-sticky + 1;}