<div class='formulaire_spip formulaire_editer formulaire_squelette formulaire_#FORM'>
	[<p class="reponse_formulaire reponse_formulaire_ok" onclick="jQuery(this).hide('fast');">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	<div class="actions">
		<div class="context">
		[(#ENV{editable}|non|et{#ENV{fichier}})
			[(#BOUTON_ACTION{#CHEMIN{images/se-file-copy-16.png}|balise_img{'copy'}|liens_absolus|concat{' ',<:skeleditor:personaliser:>},#URL_ACTION_AUTEUR{skeleditor_new_from,#ENV{fichier},#SELF|parametre_url{f,''}}})]
		]
		[(#AUTORISER{download,squelette,#ENV{fichier}}|oui)
			[(#BOUTON_ACTION{#CHEMIN{images/se-download-16.png}|balise_img{'download'}|liens_absolus|concat{' ',<:skeleditor:action_download:>},#URL_ACTION_AUTEUR{skeleditor_dl,#ENV{fichier}}})]
		]
		[(#AUTORISER{supprimer,squelette,#ENV{fichier}}|oui)
			[(#BOUTON_ACTION{#CHEMIN{images/se-file-delete-16.png}|balise_img{'delete'}|liens_absolus|concat{' ',<:skeleditor:action_supprimer:>},#URL_ACTION_AUTEUR{skeleditor_delete,#ENV{fichier},#SELF|parametre_url{f,''}},'',<:skeleditor:effacer_confirme:>})]
		]
		</div>
	</div>
	#SET{masque,#ENV{editable}|et{#ENV{fichier}}|et{#ENV**{erreurs}|table_valeur{filename}|non}}
	[(#GET{masque}|oui)
	<div class="rename">
	[<span class="filepath">(#ENV{fichier}|substr{#EVAL{_DIR_RACINE}|strlen})</span>]
	<a href="#" onclick="jQuery(this).hide('fast').parent().siblings('form').find('.renommer').show('fast');return false;"><:skeleditor:label_renommer_fichier:></a>
	[<div>(#ENV*{_info_copie})</div>]
	</div>
	]
	[ (#ENV{editable}|oui)
		[(#ENV{type}|=={txt}|et{#ENV{fichier}}|oui)
		<button type="button" onclick="search()"><:skeleditor:rechercher:></button> 
		<input type="text" style="width: 5em" id="query" value=""> <:skeleditor:rechercher_ou_remplacer:>
		<button type="button" onclick="replace()"><:skeleditor:remplacer:></button> <:skeleditor:remplacer_par:>
		<input type="text" style="width: 5em" id="replace" /> 		
		]
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
		<div class="renommer"[ (#GET{masque}|oui)style='display:none;']>
			<ul >
				<li class="editer_filename[ (#ENV**{erreurs}|table_valeur{filename}|oui)erreur]">
					<label for="filename">[(#ENV{fichier}|?{<:skeleditor:label_renommer_fichier:>,<:skeleditor:label_nouveau_fichier:>})]</label>[
					<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{filename})</span>]
					<input type="text" name='filename' class='text' id='filename' value="#ENV{filename}" />
					<p class="explication"><:skeleditor:explications_filename_fichier_chemin:></p>
				</li>
			</ul>
			<p class="boutons"><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
		</div>
			[(#ENV{type}|=={txt}|et{#ENV{fichier}}|oui)
	  <ul>
	    <li class="editer_texte editer_code[ (#ENV**{erreurs}|table_valeur{code}|oui)erreur]">
				<em class="infos">[(#ENV{date}|affdate)[ (#ENV{date}|heures)h][(#ENV{date}|minutes)][- (#ENV{size}|taille_en_octets) ]]</em>
				<label for="text_area"><:skeleditor:label_code:></label>[
				<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{code})</span>]
				<div class="codewrap[ (#ENV{editable}|non)readonly]"><textarea[ (#ENV{editable}|non)readonly='readonly'] name='code' class='no_barre[ (#ENV{editable}|non)readonly]' id='code' cols='80' rows='50'>[(#ENV**{code})]</textarea></div>
	    </li>
	  </ul>
			]
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
		[(#ENV{type}|=={txt}|et{#ENV{fichier}}|oui)
	  <p class="boutons"><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
		]
	</div></form>
	]
	[(#ENV{type}|=={img}|oui)
		<em class="infos">[(#ENV{date}|affdate) ][- (#ENV{size}|taille_en_octets) ]</em>
		[(#ENV{fichier}|balise_img)]
	]
</div>
