[(#AUTORISER{configurer,comments}|sinon_interdire_acces)]
<h1 class="grostitre"><:comments:titre_comments:></h1>
<div class="ajax">
	#FORMULAIRE_CONFIGURER_COMMENTS
</div>
<p>Pour toute autre personnalisation, modifiez <a href="https://contrib.spip.net/?article3447" class="spip_out">les&nbsp;squelettes</a>.</p>